.button-center{
    margin: 50;
}

.hora {
    text-align: center;
    font-size: 50px;
}
.fecha {
    text-align: center;
    font-size: 32px;
}

.nombre{
    text-align: center;
    font-size: 22px;
}

.principal {
    margin-top: 15px;
}

.button-center {
    text-align: center;
    font-size: 20px;
}