<div class="flex flex-col flex-auto min-w-0">
    <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="mt-2">
            <div class="flex flex-wrap items-center font-medium">
                <a class="whitespace-nowrap text-primary-500">Rol</a>
            </div>
            <h2 class="text-3xl md:text-4xl font-extrabold tracking-tighter leading-7 sm:leading-10 truncate">
                Modificar 
            </h2>
        </div>
    </div>

    <div class="flex-auto p-6 sm:p-10">
        <div class="flex-col p-2 sm:p-1 items-start justify-start">
            <button mat-button color="warn" (click)="onDelete()">Eliminar Rol
                <mat-icon [svgIcon]="'heroicons_solid:trash'"></mat-icon>
            </button>
        </div>
        <form #form="ngForm" [formGroup]="formGroup" (ngSubmit)="onUpdate()">
            <div class="grid md:grid-cols-2 md:gap-6">
                <div class="relative z-0 w-full mb-6 group">
                    <input type="text"  formControlName="rol" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer">
                    <label for="" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Rol:</label>
                </div>
            </div>
            <div class="flex items-start justify-start">
                <button mat-button (click)="toBack()">Volver</button>
                <button mat-raised-button color="primary" >Modificar Trabajador</button>
            </div>
        </form>
    </div>
</div>
