<div class="flex flex-col flex-auto min-w-0">
    <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <div class="flex flex-wrap items-center font-medium">
                <a class="whitespace-nowrap text-primary-500">Trabajadores</a>
            </div>
            <div class="mt-2">
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    Listado de trabajadores
                </h2>
            </div>
        </div>
    </div>

    <div class="flex-auto p-6 sm:p-10">
        <div class="table-responsive">
        <mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="Trabajador">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    Trabajador
                </mat-header-cell>
                <mat-cell *matCellDef="let row" data-label="Trabajador">
                    {{row.nombre}} {{row.apellido}}
                </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row (click)="toVer(row)" *matRowDef="let row; columns: displayedColumns">
            </mat-row>
        </mat-table>
        </div>
        <mat-paginator [pageSizeOptions]="[10, 15, 25, 100]"></mat-paginator>
    </div>
</div>
