<div class="flex flex-col flex-auto min-w-0">
    <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="mt-2">
            <div class="flex flex-wrap items-center font-medium">
                <a class="whitespace-nowrap text-primary-500">Trabajador</a>
            </div>
            <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                Modificar 
            </h2>
        </div>       
    </div>

    <div class="flex-auto p-6 sm:p-10">
        <div class="flex-col p-3 sm:p-2">
            <button mat-button color="warn" (click)="onDelete()">Eliminar trabajador
                <mat-icon [svgIcon]="'heroicons_solid:trash'"></mat-icon>
            </button>
        </div>
        <form class="flex flex-col mt-8 p-8 pb-4 bg-card rounded-2xl shadow overflow-hidden" #form="ngForm" [formGroup]="formGroup" (ngSubmit)="onUpdate(); form.reset()">
            <div class="flex flex-col gt-xs:flex-row">
                <mat-form-field class="flex-auto gt-xs:pr-3">
                    <input type="text" matInput placeholder="Rut" formControlName="rut" (keyup)="formatRut()">
                    <mat-error *ngIf="formGroup.get('rut').hasError('required')">El Rut es Requerido</mat-error>
                </mat-form-field>
                <mat-form-field class="flex-auto gt-xs:pl-3">
                    <input type="text" matInput placeholder="Nombre" formControlName="nombre">
                    <mat-error *ngIf="formGroup.get('nombre').hasError('required')">El Nombre es Requerido</mat-error>
                </mat-form-field>
            </div>
            <div class="flex flex-col gt-xs:flex-row">
                <mat-form-field class="flex-auto gt-xs:pr-3">
                    <input type="text" matInput placeholder="Apellido" formControlName="apellido">
                    <mat-error *ngIf="formGroup.get('apellido').hasError('required')">El Apellido es Requerido</mat-error>
                </mat-form-field>
            </div>

            <div class="flex items-start justify-start">
                <button mat-button (click)="toBack()">Volver</button>
                <button mat-raised-button color="primary">Modificar Trabajador</button>
            </div>
        </form>
    </div>
</div>
