<div class="flex flex-col flex-auto min-w-0">
    <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <div class="mt-2">
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tighter leading-7 sm:leading-10 truncate">
                    Lista de Roles
                </h2>
            </div>
        </div>
    </div>

    <div class="flex-auto p-6 sm:p-10">
        <div class="flex items-start justify-start">
            <button mat-button color="primary" (click)="toNuevo()">Nuevo Rol
                <mat-icon [svgIcon]="'heroicons_solid:plus-circle'"></mat-icon>
            </button>
        </div>
        <div class="table-responsive">
        <mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="Rol">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    Rol
                </mat-header-cell>
                <mat-cell *matCellDef="let row" data-label="Rol">
                    {{ row.rol }}
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="Creado">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    Creado
                </mat-header-cell>
                <mat-cell *matCellDef="let row" data-label="Creado">
                    {{ row.created_at | date: "dd - MM - yyyy"}}
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="Actualizado">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    Actualizado
                </mat-header-cell>
                <mat-cell *matCellDef="let row" [style.color]="row.rut" data-label="Actualizado">
                    {{ row.updated_at | date: "dd - MM - yyyy"}}
                </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row (click)="toModificar(row)" *matRowDef="let row; columns: displayedColumns">
            </mat-row>
        </mat-table>
    </div>
        <mat-paginator [pageSizeOptions]="[10, 15, 25, 100]"></mat-paginator>
    </div>
</div>
